<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="AllFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="Logs\%date{yyyyMMdd}.log" />
    <datePattern value="dd-MM-yyyy" />
    <appendToFile value="true" />
    <staticLogFileName value="true" />
    <countDirection value="1" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date{HH:mm:ss} %-5p [%c, %t] - %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
  </appender>
  <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="Logs\Errors_%date{yyyyMMdd}.log" />
    <datePattern value="dd-MM-yyyy" />
    <appendToFile value="true" />
    <staticLogFileName value="true" />
    <countDirection value="1" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date{HH:mm:ss} %-5p [%c, %t] - %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <mapping>
      <level value="FATAL" />
      <foreColor value="Red, HighIntensity" />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red, HighIntensity" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Purple, HighIntensity" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="White" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="Yellow, HighIntensity" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{HH:mm:ss} %-5p [%logger{1}, %t] - %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="FATAL" />
    </filter>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="AllFileAppender" />
    <appender-ref ref="ErrorFileAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>
