[Bb]in/
[Oo]bj/
packages/
*.suo
*.user
Settings.config
FSharpNews.Web.Frontend/Content/bootstrap*
FSharpNews.Web.Frontend/fonts/glyphicons-halflings-regular.*
FSharpNews.Web.Frontend/Scripts/bootstrap.*
FSharpNews.Web.Frontend/Scripts/jquery*
FSharpNews.Web.Frontend/Scripts/knockout-*
FSharpNews.Web.Frontend/Scripts/moment*
