<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="AllFile" xsi:type="File"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${level:padding=-5:uppercase=true} [${logger}, ${threadid}] ${message}"
            fileName="${basedir}/Logs/${shortdate}_all.log"
            header="----------[ Start ]----------"
            footer="----------[  End  ]----------" />
    <target name="ErrorFile" xsi:type="File"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${level:padding=-5:uppercase=true} [${logger}, ${threadid}] ${message}"
            fileName="${basedir}/Logs/${shortdate}_errors.log"
            header="----------[ Start ]----------"
            footer="----------[  End  ]----------" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="AllFile" />
    <logger name="*" minlevel="Error" writeTo="ErrorFile" />
  </rules>
</nlog>
