/* header */
.header {
    margin-bottom: 15px;
    margin-top: 5px;
}

.header h1 {
    display: inline;
}

/* hidden news bar */
.hidden-news-bar {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    cursor: pointer;
    padding: 10px 1px;
    padding: 10px;
    color: #428bca;
}

.hidden-news-bar:hover {
    background-color:#eee;
}

/* table */
@media (max-width: 767px) {
    #news {
        table-layout: fixed;
    }
}

#news tr td:first-child {
    padding-right: 10px;
}
@media (max-width: 767px) {
    #news tr td:first-child {
        width: 26px;
    }
}

#news tr td:first-child img {
    height: 16px;
    width: 16px;
}

#news tr td:last-child {
    white-space: nowrap;
}
@media (max-width: 767px) {
    #news tr td:last-child {
        white-space: normal;
        width: 70px;
    }
}

/* loader */
.loader {
    display: block;
    width: 32px;
    height: 32px;
    background: url(/Content/Images/loader.gif) center center no-repeat;
    margin: 0 auto;
}
