<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F# News</title>
    @Styles.Render("~/Content/css")
</head>
    <body>
        <div class="container">
            <header>
                <h1><strong>F# News</strong></h1>
            </header>
            <article>
                @RenderBody()
            </article>
        </div>
        @Scripts.Render("~/bundles/libs")
        @RenderSection("scripts", required: false)
    </body>
</html>
