@model string

@section scripts {
    @Scripts.Render("~/bundles/news")

    <script type="text/javascript">
        window.initialNews = $.parseJSON(@Html.Raw(Json.Encode(@Model)));
    </script>
}

<small id="updated" class="text-muted" data-bind="attr: { title: UpdatedTitle }">
    <span>Updated</span>
    <span data-bind="text: UpdatedAgo"></span>
</small>

<table id="news" class="table table-condensed" data-bind="visible: News().length > 0">
    <tbody data-bind="foreach: News">
        <tr>
            <td>
                <img data-bind="attr: { src: IconUrl, title: IconTitle, alt: IconTitle }" />
            </td>
            <td>
                <a data-bind="attr: { href: Url }, text: Text"></a>
            </td>
            <td class="nowrap">
                <small>
                    <em class="text-muted" data-bind="attr: { title: CreationDateTitle }, text: CreationDateAgo"></em>
                </small>
            </td>
        </tr>
    </tbody>
</table>

@* todo: use bootstrap panel here *@
<div id="noNews" data-bind="visible: News().length == 0">
    For some strange reason there is no news!
</div>
