@model string

@section scripts {
    @Scripts.Render("~/bundles/news")

    <script type="text/javascript">
        window.initialActivities = $.parseJSON(@Html.Raw(Json.Encode(@Model)));
    </script>
}

<small id="updated" class="text-muted" data-bind="attr: { title: UpdatedTitle }">
    <span>Updated</span>
    <span data-bind="text: UpdatedAgo"></span>
</small>

<div data-bind="visible: HiddenNews().length > 0, click: showHiddenNews" class="text-center hidden-news-bar">
    <span data-bind="text: HiddenNews().length"></span> news @*todo pluralize*@
</div>

<table id="news" class="table table-condensed" data-bind="visible: ShowedNews().length > 0">
    <tbody data-bind="foreach: ShowedNews">
        <tr>
            <td>
                <img data-bind="attr: { src: IconUrl, title: IconTitle, alt: IconTitle }" class="activityIcon" />
            </td>
            <td>
                <a data-bind="attr: { href: Url }, text: Text"></a>
            </td>
            <td class="nowrap">
                <small>
                    <em class="text-muted" data-bind="attr: { title: CreationDateTitle }, text: CreationDateAgo"></em>
                </small>
            </td>
        </tr>
    </tbody>
</table>

@* todo: use bootstrap panel here *@
<div id="noNews" data-bind="visible: (ShowedNews().length == 0) && (HiddenNews().length == 0)">
    For some strange reason there is no news!
</div>
