@model string

@section scripts {
    @Scripts.Render("~/bundles/news")

    <script type="text/javascript">
        window.initialNews = $.parseJSON(@Html.Raw(Json.Encode(@Model)));
    </script>
}

<table class="table">
    <tbody data-bind="foreach: News">
        <tr>
            <td>
                <img data-bind="attr: { src: IconUrl, title: IconTitle, alt: IconTitle }" />
            </td>
            <td>
                <a data-bind="attr: { href: Url }, text: Text"></a>
            </td>
            <td class="nowrap">
                <small>
                    <em class="text-muted" data-bind="attr: { title: CreationDateTitle }, text: CreationDateAgo"></em>
                </small>
            </td>
        </tr>
    </tbody>
</table>
